<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dankook.jalgashoe">

    <!-- 블루투스 통신 퍼미션 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- HTTP 통신 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GPS 퍼미션 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_foot"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".launch.login.LoginActivity" />
        <activity android:name=".launch.join.JoinActivity" />
        <activity android:name=".profile.setting.SettingActivity" />
        <activity android:name=".launch.LaunchActivity" />
        <activity android:name=".profile.setting.DeviceListActivity" />
        <activity android:name=".searchPoi.SearchActivity" />
        <activity android:name=".map.MapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".map.navi.NaviActivity"></activity>
    </application>

</manifest>